/*-------------- form-site -----------------*/
.form-site{
	&__item{margin-bottom: 18px;}

	&__label{
		@include font(normal, normal, 1.2rem, 1.2, $color-text);
		margin-bottom: 7px;
		padding-left: 8px;
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-block;
		height: 4rem;
		width: 100%;
		font-family: $font-site;
		@include font(normal, 500, 1.4rem, 3.8rem, $color-text);
		padding: 0 20px;
		border-radius: 2rem;
		border: 1px solid #e5e6f0;
		outline: 0;
		margin: 0;
		background: #fafafa;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 6rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		line-height: 1.4;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	input[type="text"]::placeholder,
	input[type="number"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder{
		color: $color-grey;
	}
	
	&__btn{margin-top: 25px;}

	&__item.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			border-color: $color-red;
			opacity: 1;
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		textarea::placeholder{
			color: $color-red;
		}
	}
}

.popup-form{
	width: 280px;
	max-width: 100%;

	&__title{
		@include font(normal, 600, 2.4rem, 1.4, $color-text);
		margin-bottom: 2.5rem;
		padding: 0 6px;
	}
}

.success-alert{
	width: 280px;
	text-align: center;

	&__title{
		@include font(normal, 600, 2.4rem, 1.4, $color-text);
		margin-bottom: 2.5rem;
	}

	&__text{
		@include font(normal, normal, 1.4rem, 1.4, $color-text);
	}
}