/*-------------- form-site -----------------*/
.form-site{
	&__content{
		display: flex;
		flex-wrap: wrap;
		margin-left: -8px;
		margin-right: -8px;
	}

	&__text{
		@include font(normal, normal, 1.4rem, 1.4, $color-dark-grey);
		padding: 0 8px;
		margin-bottom: 8px;
	}

	&__item{
		width: calc(100% - 16px);
		margin: 0 8px 18px;
	}

	&__item_half{width: calc(50% - 16px);}

	&__item_end{
		display: flex;
		align-items: flex-end;
	}

	&__label{
		@include font(normal, normal, 1.2rem, 1.2, $color-text);
		margin-bottom: 7px;
		padding-left: 8px;
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-block;
		height: 4rem;
		width: 100%;
		font-family: $font-site;
		@include font(normal, 500, 1.4rem, 3.8rem, $color-text);
		padding: 0 20px;
		border-radius: 2rem;
		border: 1px solid #e5e6f0;
		outline: 0;
		margin: 0;
		background: #fafafa;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 6rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		line-height: 1.4;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	input[type="text"]::placeholder,
	input[type="number"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder{
		color: $color-grey;
	}
	
	&__btn{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;
	}

	&__item.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			border-color: $color-red;
			opacity: 1;
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		textarea::placeholder{
			color: $color-red;
		}
	}

	.form-site-link{
		margin-right: 8px;
		margin-left: 8px;
	}
}

.success-alert{
	width: 280px;
	text-align: center;

	&__title{
		@include font(normal, 600, 2.4rem, 1.4, $color-text);
	}

	&__text{
		@include font(normal, normal, 1.4rem, 1.4, $color-text);
		margin-top: 2.5rem;
	}
}

.form-site-link{
	display: inline-flex;
	align-items: center;

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		background: $color-orange;
		border-radius: 50%;
		margin-right: 6px;

		.icon{fill: #fff}
	}

	&__text{
		@include font(normal, normal, 1.4rem, 1.2, $color-text);
		transition: color 0.2s ease 0s;
	}

	&:hover &__text{color: $color-orange;}
}

@media (max-width: 767px) {
	.form-site-link{
		&__text{font-size: 1.2rem;}
	}

	.form-site{
		.btn-icon,
		button.btn-icon,
		input[type="submit"].btn-icon{
			width: auto;
			border-radius: 2rem;
			
			&__img{
				flex: 0 0 48px;
				width: 48px;
				padding: 5px 5px 5px 10px;
			}

			&__text{
				display: block;
				font-size: 1.4rem;
			}
		}

		&__btn{margin-top: 0;}

		&__text{
			font-size: 1.2rem;
			line-height: 1.5;
		}

		&__item_half{width: calc(100% - 16px);}
	}
}