/*-------------- slider-offer -----------------*/
.slider-offer-wrap{margin: 65px 0;}

.slider-offer{
	display: none;

	&.slick-initialized{display: block;}

	&__item{
		background-repeat: no-repeat;
		background-position: center right;
		background-size: cover;
		padding: 72px 0 60px;
	}

	&__logo{margin-bottom: 22px;}
	&__info{padding-left: 8px;}

	&__title{
		@include font(normal, 600, 4.8rem, 1.08, #fff);
	}

	.btn-icon{margin: 0 8px 10px 0;}
}

.slider-offer-cond{
	display: flex;
	flex-wrap: wrap;
	margin-top: 14px;

	&__item{
		display: inline-flex;
		align-items: center;
		margin: 10px 0;
	}

	&__count{
		@include font(normal, 600, 4.8rem, 1, #3d35e5);
		margin-right: 8px;
	}

	&__currency{color: #fff;}

	&__item:not(:last-child){
		padding-right: 24px;
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		margin-right: 24px;
	}

	&__text{
		@include font(normal, normal, 1.4rem, 1.3, #fff);
	}
}