section.about-wrap
	.container-fluid
		.row
			.col-12
				.about-wrap__content
					.container
						.row
							.col-md-3.col-lg-2
								.ya-market
									img(src="assets/img/ym.png", alt="")

							.offset-lg-1.col-md-9
								.about
									h2 Магазин цифровой техники

									p В далеком 2006 году основным направлением нашей компании являлась розничная продажа сотовых телефонов. <b>Сегодня мы готовы предложить Вам широкий спектр цифровой техники. К сотовым телефонам добавились планшеты, фототехника, игровые приставки, навигаторы, MP3 плееры, мультимедиа для автомобилей и даже бытовая техника.</b> К каждой номенклатуре мы стараемся предложить большой ассортимент аксессуаров, которые Вы можете найти на страницах нашего сайта. Мы ценим Ваше время и деньги, стараясь отпускать товар по максимально низким ценам, добиваясь этого за счет жесткой экономии ресурсов, правильной организации процесса закупки и складирования, гибкой арендной политики.

									.advant-wrap
										h3 Что нас отличает от других? И почему мы лучше?

										.advant
											-
												var list=[
													{num:'/ 01', text_bold:'Мы никогда не торгуем «воздухом» – весь товар, который мы предлагаем, есть в наличии ', text:'в Петербурге у наших поставщиков и будет ждать Вас в нашем магазине, либо будет доставлен Вам по адресу в указанные сроки.'},
													{num:'/ 02', text_bold:'Мы уверены - у нас лучшая цена в городе ', text:'и, если Вы найдете дешевле, то это, скорее всего, компания однодневка или некачественный товар.'},
													{num:'/ 03', text_bold:'Мы не просто продаем товар, но и обеспечиваем достойный сервис, ', text:'гарантийный, а также постгарантийный. За это нас ценят постоянные клиенты.'},
												]
											each item in list
												.advant__item
													.advant__num= item.num
													.advant__text
														b= item.text_bold
														=item.text