section.card-slider-wrap
		.container-fluid
			.row
				.col-12
					.card-slider.js-card-slider
						.info-card.info-card_white.info-card_right
							.info-card__wrap(style="background-image: url(assets/img/info-card3.jpg)")
								.info-card__content
									.info-card__info
										.info-card__title Яндекс Станция в&nbsp;подарок

										.info-card__text Купи смартфон Galaxy S21, S21+,<br>S21 Ultra и получи большую Яндекс Станция в&nbsp;подарок!

									a.btn-icon.btn-icon_purple(href='#')
										span.btn-icon__img
											+svg('ic-link','ic-link', '18', '18')
										span.btn-icon__text Подробнее
							
						.info-card.info-card_white.info-card_right
							.info-card__wrap(style="background-image: url(assets/img/info-card4.jpg)")
								.info-card__content
									.info-card__info
										.info-card__title Монитор Gigabyte в&nbsp;подарок

										.info-card__text Купи игровой ноутбук GIGABYTE AERO / AORUS, оставь свой отзыв и получи игровой монитор GIGABYTE в&nbsp;подарок!

									a.btn-icon.btn-icon_brown(href='#')
										span.btn-icon__img
											+svg('ic-link','ic-link', '18', '18')
										span.btn-icon__text Подробнее

						.info-card.info-card_white.info-card_right
							.info-card__wrap(style="background-image: url(assets/img/info-card4.jpg)")
								.info-card__content
									.info-card__info
										.info-card__title Монитор Gigabyte в&nbsp;подарок

										.info-card__text Купи игровой ноутбук GIGABYTE AERO / AORUS, оставь свой отзыв и получи игровой монитор GIGABYTE в&nbsp;подарок!

									a.btn-icon.btn-icon_brown(href='#')
										span.btn-icon__img
											+svg('ic-link','ic-link', '18', '18')
										span.btn-icon__text Подробнее

						.info-card.info-card_white.info-card_right
							.info-card__wrap(style="background-image: url(assets/img/info-card3.jpg)")
								.info-card__content
									.info-card__info
										.info-card__title Яндекс Станция в&nbsp;подарок

										.info-card__text Купи смартфон Galaxy S21, S21+,<br>S21 Ultra и получи большую Яндекс Станция в&nbsp;подарок!

									a.btn-icon.btn-icon_purple(href='#')
										span.btn-icon__img
											+svg('ic-link','ic-link', '18', '18')
										span.btn-icon__text Подробнее

						.info-card.info-card_white.info-card_right
							.info-card__wrap(style="background-image: url(assets/img/info-card3.jpg)")
								.info-card__content
									.info-card__info
										.info-card__title Яндекс Станция в&nbsp;подарок

										.info-card__text Купи смартфон Galaxy S21, S21+,<br>S21 Ultra и получи большую Яндекс Станция в&nbsp;подарок!

									a.btn-icon.btn-icon_purple(href='#')
										span.btn-icon__img
											+svg('ic-link','ic-link', '18', '18')
										span.btn-icon__text Подробнее
							
						.info-card.info-card_white.info-card_right
							.info-card__wrap(style="background-image: url(assets/img/info-card4.jpg)")
								.info-card__content
									.info-card__info
										.info-card__title Монитор Gigabyte в&nbsp;подарок

										.info-card__text Купи игровой ноутбук GIGABYTE AERO / AORUS, оставь свой отзыв и получи игровой монитор GIGABYTE в&nbsp;подарок!

									a.btn-icon.btn-icon_brown(href='#')
										span.btn-icon__img
											+svg('ic-link','ic-link', '18', '18')
										span.btn-icon__text Подробнее