extends ../layout/main

block variables
	- var title = '404';
	- var error_page = true;

block content
	.page-error
		.page-error__content
			a(href="/").page-error__logo
				img(src="assets/img/logo.svg", alt="")
				
			.page-error__img
				img(src="assets/img/404.svg", alt="")

			.page-error__text
				b Похоже, что на этой странице ничего нет.
				br
				|Зато на остальных много чего хорошего!

			.page-error__btn
				a.btn.btn_medium(href='#')
					+svg('ic-home','ic-home', '18', '16')
					span На главную