extends ../layout/main

block variables
	- var title = 'Вопросы и ответы';
	- var h1 = 'Вопросы и ответы';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Полезная информация'},
			{href:'#',name:'Вопросы и ответы'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.container
		.row
			.col-lg-3
				.left-menu-wrap
					.left-menu-btn.d-lg-none.js-left-menu-btn
						.left-menu-btn__text Другие разделы
						.left-menu-btn__arr
							+svg('ic-arrow-down-thin','ic-arrow-down-thin', '12', '6')

					ul.left-menu.js-left-menu
						-
							var list=[
								{text:'Новости', note:'Свежие обновления обо всем'},
								{text:'Обзоры', note:'Узнайте больше о новинках от обзорщиков'},
								{text:'Документы', note:'Пользовательское соглашение'},
								{text:'О магазине', note:'Почему стоит покупать у нас'},
								{text:'Контакты', note:'Все способы с нами связаться'},
								{text:'Скидка 300 ₽', note:'Оставьте отзыв и получите скидку!'},
								{text:'Как купить', note:'Подробно обо всех способах покупки'},
								{text:'Доставка', note:'Способы доставки и пункты самовывоза'},
								{text:'Внимание! Мошенники!', note:'Как обезопасить себя и свой кошелек'},
								{text:'Вопросы и ответы', note:'Спросите и мы ответим', status:'active'},
								{text:'О трейд-ин', note:'Условия приема товара и не только'},
							]
						each item in list
							li.left-menu__item(class=item.status?'active':'')
								a(href="#").left-menu__link= item.text
								.left-menu__note= item.note

			.col-lg-9
				.faq
					.faq__item
						.faq__title Возможна ли покупка и оплата непосредственно на сайте?
						.faq__content В данный момент, к сожалению, нет.

					.faq__item
						.faq__title Возможно ли оформить покупку в кредит?
						.faq__content Да, возможно. Вы можете воспользоваться услугами нашего партнера "Биржа кредитов". Услуги данного партнера доступны в почти любом крупном городе Российской Федерации. Информацию по покупке в кредит вы можете найти в <a href="#">соответствующем разделе</a>. Также, вы можете воспользоваться услугами компании <a href="#">Ренессанс Кредит</a>.

					.faq__item
						.faq__title Резервируется ли товар после оформления заявки на сайте?
						.faq__content По причине ограниченного ассортимента мы не можем резервировать товар на длительный срок. По вашему звонку перед выездом товар в магазине зарезервируют на два часа. Также товар резервируется после произведения оплаты и поступления денег на наш счет.

					.faq__item
						.faq__title Когда поступит в продажу такой-то товар?
						.faq__content Точных дат поступления любого из товаров, представленных на сайте, мы вам сказать не сможем. Для получения уведомления о поступлении в наличии вам необходимо вписать свой е-маил в соответствующее поле на странице товара и нажать кнопку "Отправить". Оповещение придет в течение 3-4 часов после изменения статуса на "в наличии" на нашем сайте.

					.faq__item
						.faq__title Куда обращаться в случае поломки или подозрения на неисправность купленного товара?
						.faq__content Уважаемые Покупатели, сообщаем Вам, что с 05.02.2018 года, приём заявлений по вопросам касающихся возврата, обмена и ремонта приобретённого Товара в магазине "Лайт-Мобайл", осуществляются по адресу: 191028, г. Санкт-Петербург, ул. Пестеля 13/15, сервисный центр "911s". Ближайшая ст. метро - Чернышевская. Всю контактную информацию вы можете найти на сайте СЦ: www.911s.ru

					.faq__item
						.faq__title Увидел объявление на Авито о продаже товара, но цена отличается от указанной на сайте (не могу найти товар, нет в наличии и т.д.). По какой цене мне продадут товар? Как я могу быть уверен, что это ваше объявление?
						.faq__content Корректна цена и наличие на нашем сайте и именно по ней Вам продадут товар. Цена и наличие на Авито обновляются исключительно вручную - поэтому обновление требует времени. Обращаем Ваше внимание, что единственный наш официальный магазин на Авито имеет следующий адрес: <a href="https://www.avito.ru/litemobile">https://www.avito.ru/litemobile</a>. Все прочие продавцы к нашему магазину отношения не имеют.