extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'main-auth.html',name:'Главная (авторизованный пользователь)'},
			{href: 'catalog.html',name:'Каталог'},
			{href: 'catalog-no-filter.html',name:'Каталог без фильтра'},
			{href: 'catalog-detail.html',name:'Каталог детальная'},
			{href: 'page-search.html',name:'Результат поиска'},
			{href: 'cart.html',name:'Корзина'},
			{href: 'order.html',name:'Оформление заказа'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


