extends ../layout/main

block variables
	- var title = 'Пользовательское соглашение';
	- var h1 = 'Пользовательское соглашение';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Полезная информация'},
			{href:'#',name:'Пользовательское соглашение'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.container
		.row
			.col-lg-3
				.left-menu-wrap
					.left-menu-btn.d-lg-none.js-left-menu-btn
						.left-menu-btn__text Другие разделы
						.left-menu-btn__arr
							+svg('ic-arrow-down-thin','ic-arrow-down-thin', '12', '6')

					ul.left-menu.js-left-menu
						-
							var list=[
								{text:'Новости', note:'Свежие обновления обо всем'},
								{text:'Обзоры', note:'Узнайте больше о новинках от обзорщиков'},
								{text:'Документы', note:'Пользовательское соглашение'},
								{text:'О магазине', note:'Почему стоит покупать у нас'},
								{text:'Контакты', note:'Все способы с нами связаться'},
								{text:'Скидка 300 ₽', note:'Оставьте отзыв и получите скидку!'},
								{text:'Как купить', note:'Подробно обо всех способах покупки'},
								{text:'Доставка', note:'Способы доставки и пункты самовывоза'},
								{text:'Внимание! Мошенники!', note:'Как обезопасить себя и свой кошелек'},
								{text:'Вопросы и ответы', note:'Спросите и мы ответим', status:'active'},
								{text:'О трейд-ин', note:'Условия приема товара и не только'},
							]
						each item in list
							li.left-menu__item(class=item.status?'active':'')
								a(href="#").left-menu__link= item.text
								.left-menu__note= item.note

			.col-lg-9
				.page-content
					.h6 1. Основные положения

					p 1.1. Настоящее Соглашение заключается между Покупателем и Продавцом. Покупатель подтверждает свое согласие с условиями, установленными настоящим Соглашением, путем проставления отметки в графе "Я согласен с правилами магазина" при посещении Пользователем данного сайта.

					p 1.2. Настоящие Соглашение, а также информация о товаре, представленная на Сайте, не являются публичной офертой.

					p 1.3. Покупателем может быть любое физическое, способное принять и оплатить товар в порядке и на условиях, установленных настоящим Соглашением, на территории Российской Федерации.

					p 1.4. Продавец оставляет за собой право вносить изменения в настоящее Соглашение.

					p 1.5. Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано на Сайте, и должно применяться и толковаться в соответствии с законодательством Российской Федерации.

					.h6 2. Информация о товаре

					p 2.1. Товар представлен на Сайте через фото-образцы, являющиеся собственностью Продавца.

					p 2.2. Каждый фото-образец сопровождается текстовой информацией: артикулом, ценой и описанием товара.

					p 2.3. По просьбе Покупателя сотрудник Продавца обязан предоставить (по телефону или посредством электронной почты) прочую информацию, необходимую и достаточную, с точки зрения Покупателя, для принятия им решения о покупке товара.

					.h6 7. Прочее

					p 7.5. Продавец обязуется соблюдать конфиденциальность в отношении персональных данных Покупателя, а также иной информации о Покупателе, ставшей известной Продавцу в связи с исполнением настоящего Соглашения, за исключением случаев, когда такая информация:

					ul.list-line
						li является общедоступной;
						li раскрыта по требованию или с разрешения Покупателя;
						li требует раскрытия по основаниям, предусмотренным законодательством, или при поступлении соответствующих запросов суда или уполномоченных государственных органов;
						li раскрыта по иным основаниям, предусмотренным соглашением Сторон.

					p 7.6. Продавец вправе в одностороннем порядке вносить изменения в Соглашение путем публикации изменений на Сайте по адресу lite-mobile.ru, если иное не предусмотрено новой редакцией Соглашения. 