html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.75, $color-text);
	box-sizing:border-box;
	height:100%;
}

body{font-size: 1.6rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-orange;
	transition: all 0.2s ease 0s;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.4;
	color: $color-text;
	font-weight: 600;
}

h1,.h1{
	font-size: 4rem;
	margin-bottom: 4rem;
}

h2,.h2{
	font-size: 3.2rem;
	margin-bottom: 2rem;
	padding-left: 8px;
	padding-right: 8px;
}

h3,.h3{
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

h4,.h4{
	font-size: 2rem;
	margin-bottom: 1rem;
}

h5,.h5{
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

h2+p, .h2+p{margin-top: 4rem;}
p+h3, p+.h3{margin-top: 4rem;}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 45px;
	width: 100%;
}

.last-elem{margin-bottom: -45px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: 6.4rem;
	background: $color-orange;
	border: none;
	outline: none;
	border-radius: 3.2rem;
	@include font(normal, 600, 1.6rem, 6.4rem, #fff);
	text-decoration: none;
	text-align: center;
	padding: 0 35px;
	cursor: pointer;
	box-shadow: 0px 3px 12px rgba(115, 117, 136, 0.18), inset 0px -1px 0px rgba(28, 29, 32, 0.1);
	transition: all 0.2s ease 0s;
	overflow: hidden;
	position: relative;

	span,
	img,
	.icon{
		position: relative;
	}

	.icon{
		fill: #fff;
		transition: fill 0.2s ease 0s;
	}

	&:hover{color: #fff;}
}

.btn::before,
button.btn::before{
	content: '';
	display: block;
	width: 0;
	height: 100%;
	background: $color-dark-orange;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 0.2s ease 0s;
}

.btn:hover::before,
button.btn:hover::before{
	width: 100%;
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	border: 1px solid $color-orange;
	background: #fff;
	color: $color-text;

	.icon{fill: $color-text;}
}

.btn_border::before,
button.btn_border::before{
	background: $color-orange;
}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	color: #fff;

	.icon{fill: #fff;}
}

.btn_small,
input[type="submit"].btn_small,
button.btn_small{
	height: 4.8rem;
	line-height: 4.8rem;
}


.btn{
	.icon:first-child,
	img:first-child{
		margin-right: 12px;
	}

	.icon:last-child,
	img:last-child{
		margin-left: 12px;
	}
}

.btn-icon,
input[type="submit"].btn-icon,
button.btn-icon{
	display: inline-flex;
	height: 4rem;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 2rem;
	@include font(normal, 600, 1.6rem, 4rem, $color-text);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 3px 12px rgba(115, 117, 136, 0.18), inset 0px -1px 0px rgba(28, 29, 32, 0.1);
	transition: all 0.2s ease 0s;
	overflow: hidden;
	position: relative;

	&__img,
	&__text{
		position: relative;
	}

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 48px;
		width: 48px;
		background: $color-orange;
		padding: 5px 5px 5px 10px;

		.icon{fill: #fff;}
	}

	&__text{padding: 0 17px 0 12px;}
	&:hover{color: #fff;}
}

.btn-icon::before,
button.btn-icon::before{
	content: '';
	display: block;
	width: 0;
	height: 100%;
	background: $color-orange;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 0.2s ease 0s;
}

.btn-icon:hover::before,
button.btn-icon:hover::before{
	width: 100%;
}

.btn-icon_pink,
input[type="submit"].btn-icon_pink,
button.btn-icon_pink{
	.btn-icon__img{background: $color-pink;}
}

.btn-icon_pink::before,
button.btn-icon_pink::before{
	background: $color-pink;
}
.btn-icon_purple,
input[type="submit"].btn-icon_purple,
button.btn-icon_purple{
	.btn-icon__img{background: $color-purple;}
}

.btn-icon_purple::before,
button.btn-icon_purple::before{
	background: $color-purple;
}

.btn-icon_brown,
input[type="submit"].btn-icon_brown,
button.btn-icon_brown{
	.btn-icon__img{background: $color-brown;}
}

.btn-icon_brown::before,
button.btn-icon_brown::before{
	background: $color-brown;
}

.btn-icon_grey,
input[type="submit"].btn-icon_grey,
button.btn-icon_grey{
	.btn-icon__img{background: $color-dark-grey;}
}

.btn-icon_grey::before,
button.btn-icon_grey::before{
	background: $color-dark-grey;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.container-fluid{
	padding-left: 16px;
	padding-right: 16px;
}

.link-more{
	display: inline-flex;
	align-items: center;
	@include font(normal, normal, 1.4rem, 1.2, $color-text);

	&__icon{
		flex: 0 0 14px;
		width: 14px;
		margin-right: 8px;

		.icon{
			display: block;
			fill: $color-grey;
			transition: fill 0.2s ease 0s;
		}
	}

	&__count{color: $color-dark-grey;}
	&:hover &__icon .icon{fill: $color-dark-grey;}
	&:hover{color: $color-dark-grey;}
}