footer.footer
	.footer__menu
		.container
			.row
				.col-3
					ul.footer-menu
						li.footer-menu__item
							a(href="#").footer-menu__link Покупателям
							-
								var list=[
									{text:'Скидка 300 ₽ за отзыв на Google'},
									{text:'Как купить?'},
									{text:'Доставка'},
									{text:'Пользовательское соглашение'},
								]

							ul.footer-menu__sub
								each item in list
									li.footer-menu__sub-item
										a(href="#").footer-menu__sub-link= item.text

				.col-3
					ul.footer-menu
						li.footer-menu__item
							a(href="#").footer-menu__link Полезная информация
							-
								var list=[
									{text:'Внимание! Мошенники!'},
									{text:'Новости'},
									{text:'Обзоры'},
									{text:'О магазине'},
									{text:'Контакты'},
								]
							ul.footer-menu__sub
								each item in list
									li.footer-menu__sub-item
										a(href="#").footer-menu__sub-link= item.text

				.col-3
					ul.footer-menu
						li.footer-menu__item
							a(href="#").footer-menu__link Поддержка
							-
								var list=[
									{text:'Вопросы и ответы'},
									{text:'Обратная связь'},
									{text:'Заказать обратный звонок'},
									{text:'Почему нам доверяют'},
									{text:'Условия приема в трейд-ин'},
								]
							ul.footer-menu__sub
								each item in list
									li.footer-menu__sub-item
										a(href="#").footer-menu__sub-link= item.text

				.col-3
					ul.footer-menu
						li.footer-menu__item
							a(href="#").footer-menu__link Личный кабинет
							-
								var list=[
									{text:'Корзина'},
									{text:'Избранное'},
									{text:'Товары к сравнению'},
									{text:'История заказов'},
									{text:'Рассылка'},
								]
							ul.footer-menu__sub
								each item in list
									li.footer-menu__sub-item
										a(href="#").footer-menu__sub-link= item.text

	.footer__info
		.container
			.row
				.col-3
					a(href="#").footer__logo
						img(src="assets/img/logo.svg", alt="")

					.footer__copyright © 2021 Lite-mobile.ru
				
				.col-3
					.footer__contacts
						.footer__phone
							a(href="tel:+78123325432") 8 812 332-54-32

						.footer__address СПб, ул. Рубинштейна, 23, оф. 98

				.col-3
					.social
						.social__list
							-
								var list=['ic-facebook', 'ic-instagram', 'ic-twitter', 'ic-vk', 'ic-foursquare']
							
							each item in list
								.social__item
									+svg(item, item, '24', '24')
						
						.social__label Lite Mobile в соцсетях

				.col-3
					form.form-search
						.form-search__content
							input(type="text", placeholder="Поиск по сайту...", title="Поиск по сайту")
							button(type="submit")
								+svg('ic-search','ic-search', '18', '18')

						//- .form-search__popup
						//- 	-
						//- 		var list=[
						//- 			{title:'Категории'},
						//- 			{text:'ASUS'},
						//- 			{text:'ASUS Tab'},
						//- 			{title:'Товары'},
						//- 			{text:'Смартфон ASUS Zenfone 7 ZS670KS 8/128Gb (Цвет: Aurora Black)'},
						//- 			{text:'Монитор Asus 24.5" VG258QR (Цвет: Black)'},
						//- 			{text:'Видеокарта ASUS GeForce GT 1030 1228MHz PCI-E 3.0 2048MB 6008MHz 1030 1228MHz PCI-E 3.0'},
						//- 			{text:'Wi-Fi роутер Asus RT-AC66U'},
						//- 			{text:'Роутер беспроводной Asus RT-AC86U AC2900'},
						//- 		]
						//- 	each item in list
						//- 		if(item.title)
						//- 			.form-search__title= item.title

						//- 		if(item.text)
						//- 			a(href="#").form-search__item= item.text


						//- 	.form-search__res
						//- 		a(href="#").form-search__more
						//- 			+svg('ic-link','ic-link', '14', '14')
						//- 			span.form-search__more-text Показать все результаты

						//- 		.form-search__count 83
	.footer__bottom
		.container
			.row
				.col-12
					.footer__text Фирма-производитель оставляет за собой право на внесение изменений в программное обеспечение, дизайн и комплектацию приборов без предварительного уведомления. Во избежание недоразумений при покупке приборов уточняйте информацию о комплектации, наличию и цене у продавцов. Вся информация на сайте носит справочный характер и не является публичной офертой. Сайт является маркет-плейсом и может содержать предложения сторонних продавцов или товары, отсутствующие на складе магазина.